.woocommerce {
  &.columns-5 {
    columns: auto;
  }
}

.single-product-main-information {
  display: grid;
  grid-template-columns: 450px 1fr 150px;
  gap: 1rem;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .onsale {
    position: absolute;
    top: 0;
    left: 0;
  }

  .woocommerce-product-gallery {
    width: 100% !important;
    float: none !important;
  }

  div.summary {
    width: 100% !important;
    float: none !important;

    .product_title {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 1rem;
      @media (max-width: 768px) {
        font-size: 18px;
      }
    }

    .price {
      //margin-bottom: 1rem;
    }

    .woocommerce-product-details__short-description {
      margin: 1rem 0;
    }

    .quantity .qty {
      width: 3.631em;
      text-align: center;
      padding: 6px;
    }

    .product_meta {
      & > span {
        display: block;
        padding: 8px 16px;
        font-size: 14px;
        border-bottom: 1px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, #eaeaea, #a0a0a0, #eaeaea);

        &:last-child {
          border-bottom: none;
        }
      }
    }

    table.variations {
      width: 100%;
      margin: 0;
      border: 1px solid #F5F5F5;

      tr {

      }

      td {
        padding: 3px;
        border: 1px solid #F5F5F5;
      }
    }

  }

  .product-page-right-sidebar {
    background: url("../images/right-sidebar-shadow.png") no-repeat left top;
    //background-size: cover;
  }
}

.woocommerce span.onsale {
  background-color: var(--accent);
  //color: #FFFFFF;
  //border-radius: 4px;
}

.woocommerce-tabs {
  ul.wc-tabs {
    display: flex;
    justify-content: center;
    //position: sticky !important;
    top: 0;
    z-index: 20;
    background-color: #fff;
    padding: 12px 0 !important;

    li {
      background: transparent !important;
      border: none !important;
      border-radius: 4px !important;

      &::after, &::before {
        display: none;
      }

      &.active {
        background: var(--accent-light) !important;
        color: var(--accent) !important;
      }
    }
  }

  .woocommerce-Tabs-panel {
    display: block !important;
    margin-bottom: 40px;
    scroll-margin-top: 90px;
    background: #ffffff;
    padding: 24px !important;
    border: 1px solid #ffdfdf;
  }
}


.eg-product-faq-item {
  border-bottom: 1px solid #d2d2d2;
  padding: 8px 12px;

  summary {
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
  }

  .eg-product-faq-answer {
    margin-top: 12px;
  }
}

.woocommerce-noreviews {
  padding: 8px 12px;
  margin-bottom: 8px;
}

h2 {
  font-size: 28px !important;
  margin-bottom: 10px !important;
}

.wc-block-components-button {
  background-color: var(--accent);
  color: #FFFFFF;
  border-radius: 4px;
}

.wp-block-woocommerce-checkout-order-summary-block {
  background-color: #fff;
}


.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button.alt,
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce a.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce button.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce input.button.alt,
:where(body:not(.woocommerce-block-theme-has-button-styles)):where(:not(.edit-post-visual-editor)) .woocommerce #respond input#submit.alt {
  background-color: var(--accent);
  color: #FFFFFF;
  border-radius: 4px;
}

.woocommerce-form {
  background: #fff;
}

.product-cta-box {
  background-color: #fff;
  border: 1px solid #ffdfdf;
  padding: 12px;
  gap: 12px;
  display: flex;
  align-items: center;
  position: sticky;
  bottom: 0;

  & > div {
    //flex: 1;
    &.product-cta-thumb {
      flex: 0 0 60px;
    }

    .product-cta-title {
      font: 600 18px/1.4 "Poppins", sans-serif;
    }

    &.product-cta-button {
      margin-left: auto;

      form.cart {
        margin-bottom: 0;
      }

      .quantity .qty {
        height: 48px;
        border: 1px solid #dedede;
        border-radius: 4px;
        font-size: 20px;
      }

      .button {
        padding: 16px 39px;
      }
    }

  }


}