.woocommerce {
  &.columns-5 {
    columns: auto;
  }
}

.single-product-main-information {
  display: grid;
  grid-template-columns: 450px 1fr 150px;
  gap: 1rem;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .onsale {
    position: absolute;
    top: 0;
    left: 0;
  }

  .woocommerce-product-gallery {
    width: 100% !important;
    float: none !important;
  }

  div.summary {
    width: 100% !important;
    float: none !important;
  }

  .product-page-right-sidebar {
    background: url("../images/right-sidebar-shadow.png") no-repeat left center;
    //background-size: cover;
  }
}

.product_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1rem;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

table.variations {
  width: 100%;
  margin: 0;
  border: 1px solid #F5F5F5;

  tr {

  }

  td {
    padding: 3px;
    border: 1px solid #F5F5F5;
  }
}

.woocommerce-tabs {
  ul.wc-tabs {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 20;

    li {
      background: transparent !important;
      border: none !important;

      &::after, &::before {
        display: none;
      }

      &.active {
        background: var(--accent-light) !important;
        color: var(--accent) !important;
      }
    }
  }

  .woocommerce-Tabs-panel {
    display: block !important;
    margin-bottom: 40px;
    padding-top: 20px;
  }
}

/* Smooth scroll offset helper */
.woocommerce-Tabs-panel {
  scroll-margin-top: 90px;
}

.eg-product-faq-item {
  border-bottom: 1px solid #d2d2d2;
  padding: 8px 12px;

  summary {
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;
  }

  .eg-product-faq-answer {
    margin-top: 12px;
  }
}

.woocommerce-noreviews {
  padding: 8px 12px;
  margin-bottom: 8px;
}

h2 {
  font-size: 28px !important;
  margin-bottom: 10px !important;
}

.wc-block-components-button {
  background-color: var(--accent);
  color: #FFFFFF;
  border-radius: 4px;
}

.wp-block-woocommerce-checkout-order-summary-block {
  background-color: #fff;
}

.woocommerce-Tabs-panel {
  background: #fff0f0;
  padding: 10px !important;
  border: 1px solid #ffdfdf;
}